.container {
    background-color: var(--color-white);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1rem;
    margin-top: auto;
}

.next {
    background-color: var(--color-marine-blue);
    color: var(--color-white);
    font-size: 0.9rem;
    padding: 0.55rem 1rem;
    border-radius: 0.25rem;
}

.confirm {
    background-color: var(--color-purplish-blue);
}

.confirm:hover {
    background-color: var(--color-purplish-light-blue);
}

.prev {
    color: var(--color-cool-gray);
    font-size: 0.9rem;
}

.prev:hover {
    color: var(--color-marine-blue);
}

@media (min-width: 50em)  { /* 800px*/
    .container {
        grid-area: pagination;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .next {
        font-size: 1rem;
        padding: 0.75rem 1.65rem;
        border-radius: 0.5rem;
        margin-right: 0.5rem;
    }

    .confirm {
        padding: 0.75rem 2rem;
    }

    .prev {
        font-size: 1rem;
        margin-left: 0.5rem;
    }
    
}


@media (min-width: 64em)  { /* 1024px*/
    .container {
        margin-left: 4.8rem;
        margin-right: 3.8rem;
    }
}