.container {
    background-color: var(--color-white);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1rem;

    margin-top: auto;
}

.next {
    background-color: var(--color-marine-blue);
    color: var(--color-white);
    font-size: 0.9rem;
    padding: 0.55rem 1rem;
    border-radius: 0.25rem;
}

.confirm {
    background-color: var(--color-purplish-blue);
}

.confirm:hover {
    background-color: var(--color-purplish-light-blue);
}

.prev {
    color: var(--color-cool-gray);
    font-size: 0.9rem;
}