:root {
    /* colors */
    --color-white: hsl(0, 0%, 100%);
    --color-cool-gray: hsl(231, 11%, 63%);
    --color-light-gray: hsl(229, 24%, 87%);
    --color-magnolia: hsl(217, 100%, 97%);
    --color-alabaster: hsl(231, 100%, 99%);

    --color-marine-blue: hsl(213, 96%, 18%);
    --color-purplish-blue: hsl(243, 100%, 62%);
    --color-purplish-light-blue: rgba(71, 61, 255, 0.7);
    --color-pastel-blue: hsl(228, 100%, 84%);
    --color-light-blue: hsl(206, 94%, 87%);
    --color-strawberry-red: hsl(354, 84%, 57%);
}


body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--color-magnolia);
}