.container {
    display: flex;
    column-gap: 0.9rem;
    padding: 1rem;
    border: 1px solid var(--color-cool-gray);
    border-radius: 0.5rem;
    margin-top: 0.8rem;
    cursor: pointer;
}

.container.active {
    border-color: var(--color-marine-blue);
    background-color: var(--color-alabaster);
    transition: all 0.8s ease; 
}

.title {
    color: var(--color-marine-blue);
    text-transform: capitalize;
}

.price {
    color: var(--color-cool-gray);
    font-size: 0.85rem;
    animation: show 0.5s ease;
}

@keyframes show {
    from {
        opacity: 0,
    }
    to {
        opacity: 1;
    }
}

.discount {
    color: var(--color-marine-blue);
    font-size: 0.75rem;
    margin-top: 0.25rem;
}