.container {
    display: flex;
    column-gap: 0.9rem;
    padding: 1rem;
    border: 1px solid var(--color-cool-gray);
    border-radius: 0.5rem;
    margin-top: 0.8rem;
}

.container.active {
    border-color: var(--color-marine-blue);
    background-color: var(--color-alabaster);
}
.title {
    color: var(--color-marine-blue);
}

.desc {
    color: var(--color-cool-gray);
    font-size: 0.85rem;
}

.discount {
    color: var(--color-marine-blue);
    font-size: 0.75rem;
    margin-top: 0.25rem;
}