.container {
    margin-top: 0.835rem;
}

.labels {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.label {
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--color-marine-blue);

}

.error {
    color: var(--color-strawberry-red);
    font-size: 0.75rem;
    font-weight: 700;
    text-align: right;

    /* fix all error messages in one place */
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.input {
    color: var(--color-marine-blue);
    font-size: 0.95rem;
    padding: 0.5rem 1rem;
    border:1px solid var(--color-light-gray);
    border-radius: 0.25rem;
    width: 100%;
    outline: none;
}

.input:focus,
.input:active {
    border-color: var(--color-marine-blue);
}

.input::placeholder {
    color: var(--color-cool-gray);
}

.input.border-error {
    border-color: var(--color-strawberry-red);
    transition: border-color 1s ease;
}